<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
           <div class="col-lg-6 text-start">
               <h3>Clientes</h3>
           </div>

           <div class="col-lg-6 text-end">
               <button (click)="new()" class="btn btn-success">
                   <i class="fa fa-plus fa-1x"><span style="padding-left: 8px;">Novo</span></i>
               </button>
           </div>
        </div>
  
        <table class="table table-striped" border="1">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">E-mail</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            @for (obj of lista; track $index;) {
            <tr>
              <th scope="row">{{ obj.idCliente }}</th>
              <td>{{ obj.nmCliente }}</td>
              <td>{{ obj.dsCpf }}</td>
              <td>{{ obj.dsEmail }}</td>

              <td>
                <div class="row">
                   <div class="col-lg-12 text-end">
                       <button (click)="edit(obj)" class="btn btn-success">
                           <i class="fa fa-pen fa-1x"></i>
                       </button>
      
                      <button (click)="deleteById(obj)" class="btn btn-danger ms-2">
                        <i class="fa fa-trash-can fa-1x"></i>
                      </button>
                   </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <ng-template #modalDetalhe>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cadastro de Clientes</h5>

      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>

    <div class="modal-body">
      <app-clientedetails [obj]="objEdit" (retorno)="retornoDetalhe($event)"></app-clientedetails>
    </div>
  </ng-template>