<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand me-5" href="#"
      ><i class="fa-solid fa-scissors fa-3x"></i
    ></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="login">Home</a>
        <a class="nav-link" href="admin/horarios">Horários</a>
        <a class="nav-link" href="admin/clientes">Clientes</a>
        <a class="nav-link" href="admin/funcionario">Funcionários</a>
        <a class="nav-link" href="admin/pagamento">Pagamentos</a>
        <a class="nav-link" href="admin/formaPagamento">Formas Pagamento</a>
        <a class="nav-link" href="cadastro">Cadastro</a>
       
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="login"
          >Sair <i class="fa-solid fa-right-from-bracket ms-2"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
