<br />
<div class="container">
  <div class="row">

    <div class="col-lg-12 centralizar topo">
      <div class="card">
        <div class="card-body">
          
          <h3 *ngIf="loginService.hasPermission('admin')">Cadastro de Cliente:</h3>
          <h3 *ngIf="loginService.hasPermission('cliente')">Perfil</h3>

          <div *ngIf="loginService.hasPermission('cliente')" class="row my-4">
            <div class="d-flex justify-content-center align-items-center">
              <div class="border border-dark rounded-circle d-flex justify-content-center align-items-center" style="width: 250px; height: 250px; border: 3px solid #4F4F4F !important;">
                <i class="fa-solid fa-user fa-10x"></i>
              </div>
            </div>            
          </div>
          
          <div class="row my-4">
            <div class="col-lg-4 col-xs-4">
                <mdb-form-control>
                    <input mdbInput type="text" disabled id="idCliente" class="form-control" [(ngModel)]="obj.idCliente" />
                    <label mdbLabel class="form-label" for="idCliente">ID</label>
                </mdb-form-control>
            </div>

            <div class="col-lg-8 col-xs-8">
                <mdb-form-control>
                    <input mdbInput type="text" id="nmCliente" class="form-control" [(ngModel)]="obj.nmCliente" />
                    <label mdbLabel class="form-label" for="nmCliente">Nome</label>
                </mdb-form-control>
            </div>
          </div>

          <div class="row my-4">
            <div class="col-lg-12 col-xs-12">
                <mdb-form-control>
                    <input mdbInput type="text" id="dsCPF" class="form-control" [(ngModel)]="obj.dsCpf" mask="000.000.000-00" />
                    <label mdbLabel class="form-label" for="dsCPF">CPF</label>
                </mdb-form-control>
            </div>
        </div>

          <div class="row my-4">
            <div class="col-lg-12 col-xs-12">
                <mdb-form-control>
                    <input mdbInput type="text" id="dsEmail" class="form-control" [(ngModel)]="obj.dsEmail" />
                    <label mdbLabel class="form-label" for="dsEmail">E-mail</label>
                </mdb-form-control>
            </div>
          </div>

          <div *ngIf="loginService.hasPermission('cliente')" class="row my-4">
            <div class="col-lg-12 col-xs-12">
                <mdb-form-control>
                    <input mdbInput type="password" id="dsSenha" class="form-control" [(ngModel)]="obj.dsSenha" />
                    <label mdbLabel class="form-label" for="dsSenha">Senha</label>
                </mdb-form-control>
            </div>
          </div>

          <div *ngIf="loginService.hasPermission('cliente')" class="row my-4">
            <div class="col-lg-12 col-xs-12">
                <mdb-form-control>
                    <input mdbInput type="password" id="confirmSenha" class="form-control" />
                    <label mdbLabel class="form-label" for="confirmSenha">Confirmar Senha</label>
                </mdb-form-control>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-12 text-end">
              <button type="button" class="btn btn-primary" mdbRipple (click)="save()">
                Salvar
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</div>